<div class="element-adder">
    <form action="" class="add-control-panel">
        <p class="add-description">Type a name for new todo, and press enter</p>
        <input type="text" placeholder="add new todo">
    </form>
</div>

<div class="todocard">
    <div class="todocard-title">
        <p class="todo-close"><span class="icon-close">&times;</span></p>
        <p class="todo-title">Ez egy tudú</p>
    </div>
    <div class="todocard-foot">
        <input type="checkbox"><span class="checkbox-status">Todo</span>
    </div>
</div>