.todocard{
    width: 98% !important;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin: 10px;
    display: inline-block;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
}
.todocard-title{
    width: 100%;
    background: rgb(2,117,216);
    background: linear-gradient(90deg, rgba(2,117,216,1) 0%, rgba(91,192,222,1) 20%, rgba(0,212,255,1) 100%);
    margin-top: 0px;
}

.todocard-title > p {
    margin: 0px;
    font-weight: bolder;
    color: white;
}

.todo-title{
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    transform: translate(0%, -50%);
}

.todocard-foot{
    margin-top: 20px;
    font-size: 1.2rem;
}
.todo-close{
    text-align: right;
    padding: 5px;
    font-size: 1.5rem;
    color: white;
    text-shadow: black 1px 2px;
}

.icon-close{
    border: 1px solid #d9534f;
    border-radius: 20px;
    background: #d9534f;
    box-shadow: rgba(128, 128, 128, 0.472) 1px 3px;
}

.icon-close:hover{
    filter: invert();
}

input[type=checkbox]{
    width: 15px;
    height: 15px;
}

.checkbox-status{
    margin: 3px 3px 3px 3px;
}

.element-adder{
    width: 100%;
}

.add-control-panel{
    background-color: #5bc0de;
    width: 100%;
    padding: 10px;
    font-family: sans-serif;
    color: white;
    font-size: 1.3rem;
    display: block;
}

input[type=text]{
    font-size: 1.8rem;
    border: none;
    border-radius: 20px;
}

.color-done{
    color: rgb(0, 204, 0);
}