<div class="element-adder">
    <form [formGroup]="createForm" class="add-control-panel" (keyup.enter)="submit(createForm.value)">
        <p class="add-description">type a name for new todo, and press enter &#x270D;</p>
        <input type="text" placeholder="add new todo" formControlName="title">
    </form>
</div>

<div class="cards-container">
    <div class="todocard" *ngFor="let card of allEntries">
        <div class="todocard-title">
            <p class="todo-close"><span class="icon-close" (click)="deleteEntry(card)">&times;</span></p>
            <p class="todo-title">{{card.title | uppercase}}</p>
        </div>
        <div class="todocard-body">
            <div class="sub-todo-list">
                <div class="subtodo-item" *ngFor="let task of card['tasks']">
                    <span class="subtodo-name">{{task.name}}</span>
                    <label for="" class="sub-checkbox" [ngClass]="{ 'color-done' : card.isDone || task.isDone }">
                        {{card.isDone || task.isDone ? 'Done' : 'To do'}}
                        <input type="checkbox" [checked]="card.isDone || task.isDone" (click)="checkboxStatusChange(task, card)">
                    </label>
                </div>
            </div>
            <div class="todo-list-panel">
                <form action="" [formGroup]="createTask" (keyup.enter)="submitTask(createTask.value, card.id)">
                    <input type="text" formControlName="taskName" placeholder="add a subtodo" class="add-subtodo-input">
                </form>
            </div>
        </div>
        <div class="todocard-foot">
            <input type="checkbox" [checked]="card.isDone" [data-id]="card.id" (click)="checkboxStatusChange(card)"><span class="checkbox-status" [ngClass]="{ 'color-done' : card.isDone }">{{card.isDone ? 'Done' : 'To do'}}</span>
        </div>
    </div>
</div>
