body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100% !important;
    height: 100% !important;
    background-image: url('./assets/main-bkg.jpg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    user-select: none;
}

/*   SCROLLBAR    */

::-webkit-scrollbar{
    width:20px;
}

::-webkit-scrollbar-thumb{
    background: rgba(0, 255, 255, 0.548);
}

::-webkit-scrollbar-thumb:hover{
    background: aqua;
}

/* SCROLLBAR END */

.erase-task{
    color: red;
    font-weight: bolder;
    font-size: 1.5rem;
    text-shadow: 2px 1px black;
    margin: 5px 10px;
}
.erase-task:hover{
    filter: invert();
}